*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.846);
    padding-top: 30vh;
    display: flex;
    justify-content: center;
}

.main-div{
    width:30vw;
    height:30vh;
    background-color:rgb(61, 206, 219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enter-room-text {
    font-size: 2.9vw;
    font-family: 'Saira Condensed', sans-serif;
}